<section class="feedback container">
  <h2 class="visually-hidden">Feedbacks our visitors</h2>
  <div class="feedback-slider swiper" role="region" aria-live="polite">
    <button class="arrow-btn swiper-button-prev" type="button">
      <svg class="left arrow" width="24" height="24">
        <use href="./img/left-arrow.svg"></use>
      </svg>
    </button>

    <div class="swiper-wrapper"></div>

    <button class="arrow-btn swiper-button-next" type="button">
      <svg class="right arrow" width="24" height="24">
        <use href="./img/right-arrow.svg"></use>
      </svg>
    </button>

    <div class="swiper-pagination"></div>
  </div>
</section>
