html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--color-scheme-1-text);
  background: var(--color-scheme-1-background);
}

h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 84px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

h4 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

h5 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
