
.header {
  position: relative;
  width: 100%;
  z-index: 1000;
}

.hide {
  display: none !important;
}

.header-logo {
  display: inline-block;
  line-height: 0;

  @media screen and (min-width: 768px) {
  }
}

.header-logo-icon {
  fill: var(--color-scheme-1-text);
  width: 119px;
  height: 51px;
}

.header-logo-icon:hover,
.header-logo-icon:focus {
  cursor: pointer;
  opacity: 0.7;
}

.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burger-btn:hover,
.burger-btn:focus {
  cursor: pointer;
  opacity: 0.7;
}


.burger-icon,
.cross-icon {
  fill: var(--color-scheme-1-text);
  width: 16px;
  height: 12px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10.5px;
  padding-bottom: 10.5px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.header-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;

    font-size: 18px;
    color: var(--color-scheme-1-text);
  }
}

.menu-item:hover,
.menu-item:focus {
  cursor: pointer;
  opacity: 0.7;
}

/* -------  menu - open --------*/

.menu-burger-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-scheme-1-background);

  padding: 17px 26px;
  box-sizing: border-box;
  pointer-events: auto;
  z-index: 999;

  transition: opacity 500ms linear;
}

.cross-icon {
  top: 26px;
  right: 30px;
  line-height: 0;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-scheme-1-text);
}

.menu-burger-list {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 111px;

  font-weight: 500;
  font-size: 26px;
  color: var(--color-scheme-1-text);
}

.menu-burger-item:hover,
.menu-burger-item:focus {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 500ms linear;
}

.menu-burger-item {
  width: 100%;
}

.menu-burger-link {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
