
.header {
  position: sticky;
  top: 0;
  background-color: var(--color-scheme-1-background);

  width: 100%;
  z-index: 1000;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 10px;

  pointer-events: none;

  background: linear-gradient(180deg,
    #060307 0%,
    rgba(35, 19, 43, 0) 100%);
}

.hide {
  display: none !important;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  line-height: 0;
  width: 119px;
  height: 51px;
}


.header-logo-icon {
  fill: var(--color-scheme-1-text);
  width: 106px;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.header-logo-icon:hover,
.header-logo-icon:focus {
  cursor: pointer;
  fill: var(--color-affair);
  transition: opacity 250ms linear;
}

.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.burger-btn:hover,
.burger-btn:focus {
  cursor: pointer;
  fill: var(--color-affair);
  transition: opacity 250ms linear;
}

.burger-icon {
  fill: var(--color-scheme-1-text);
  width: 16px;
  height: 12px;

  transition: opacity 250ms linear;
}

.cross-icon {
  fill: var(--color-scheme-1-text);
  width: 28px;
  height: 28px;
  
  transition: opacity 250ms linear;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10.5px;
  padding-bottom: 10.5px;

  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.header-list {
  display: none;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-scheme-1-text);

  @media only screen and (min-width: 768px) {
    display: flex;
    gap: 32px;

    font-size: 18px;
  }
}

.menu-item {
  display: flex;
  align-items: center;
  height: 51px;
  transition: opacity 250ms linear;
}

.menu-item:hover,
.menu-item:focus {
  cursor: pointer;
  color: var(--color-affair);
  text-decoration: underline;
  transition: opacity 250ms linear;
}

/* -------  menu - open --------*/

.menu-burger {
  position: fixed;
  inset: 0;
  
  width: 100%;
  height: 100vh;
  
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  
  z-index: 999;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  opacity: 1;
  pointer-events: auto;
  transition: opacity 500ms linear;

  @media only screen and (min-width: 768px) {
    display: none;
  }
 }

 .menu-burger.hide {
   opacity: 0;
   pointer-events: none;
 }

.menu-burger-modal {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--color-scheme-1-background);

  padding: 17px 26px;
}

.menu-burger-list {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 111px;

  font-weight: 500;
  font-size: 26px;
  color: var(--color-scheme-1-text);
}

.menu-burger-item {
  width: 100%;
}

.menu-burger-item:hover,
.menu-burger-item:focus {
  cursor: pointer;
  color: var(--color-affair);
  text-decoration: underline;
  transition: opacity 250ms linear;
}

.menu-burger-link {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
